<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <li>First_Name: <%= f.text_field :first_name %></li>
  <li>Last_Name:  <%= f.text_field :last_name %></li>
  <li>Email:      <%= f.text_field :email %></li>
  <li>Password:   <%= f.password_field :password %></li>
  <li>Confirmation: <%= f.password_field :password_confirmation %></li>
  <li><%= f.submit "Submit" %></li>

<% end %>